<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{'Đổi mật khẩu' | translate}}</span>
            <button mat-button class="mat-icon-button" tabindex="-1" (click)="dialogRef.close()"
                aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <div mat-dialog-content class="p-24 m-0" style="width: 400px">
        <div [formGroup]="form" class="event-form w-full" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
            name="form">
            <div fxLayout="row">
                <mat-form-field fxFlex="100">
                    <input type="password" matInput cdk-focus-start tabindex="1" trim="blur"
                        placeholder="{{'User.OldPassword' | translate}}" formControlName="oldPassword" required
                        autofocus autocomplete="off">
                    <mat-error *ngIf="formErrors.oldPassword.required">
                        {{'User.Msg.OldPassword.Required' | translate}}
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="100">
                    <input tabindex="2" type="password" matInput placeholder="{{'User.Password' | translate}}"
                        formControlName="password" required autocomplete="off" maxlength="30">
                    <mat-error *ngIf="formErrors.password.required">
                        {{'User.Msg.Password.Required' | translate}}
                    </mat-error>
                    <mat-error *ngIf="!formErrors.password.required && formErrors.password.minlength">
                        {{'User.Msg.Password.MinLength' | translate}}
                    </mat-error>
                    <mat-error *ngIf="!formErrors.password.required && formErrors.password.maxlength">
                        {{'User.Msg.Password.MaxLength' | translate}}
                    </mat-error>
                    <mat-error *ngIf="!formErrors.password.minlength && !formErrors.password.maxlength && formErrors.password.weakPassword">
                        {{'User.Msg.Password.Weak' | translate}}
                    </mat-error>                    
                    <mat-error *ngIf="!formErrors.password.required && formErrors.password.notEqualsTo">
                        {{'User.Msg.Password.NotEqualsTo' | translate}}
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="100">
                    <input cdk-focus-start tabindex="3" type="password" matInput
                        placeholder="{{'User.ConfirmPassword' | translate}}" formControlName="confirmPassword" required
                        autocomplete="off">
                    <mat-error *ngIf="formErrors.confirmPassword.required">
                        {{'User.Msg.Password.ConfirmRequired' | translate}}
                    </mat-error>
                    <mat-error
                        *ngIf="!formErrors.confirmPassword.required && formErrors.confirmPassword.comparisonValidator">
                        {{'User.Msg.Password.Confirm' | translate}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="center">
        <button mat-button (click)="save()" [disabled]="!form.valid" tabindex="4" class="mat-raised-button mat-accent"
            color="accent">{{'Common.Save' | translate}}</button>
        <button mat-button (click)="cancel()" tabindex="5" class="mat-raised-button mat-warn"
            color="warn">{{'Common.Cancel' | translate}}</button>
    </div>
</div>