//@import "src/@fuse/scss/fuse";

:host {

    // @include media-breakpoint('xs') {
    //     width: 100%;
    // }

    .mat-dialog-container {
        padding: 0;
    }

    .dialog-content-wrapper {
        max-height: 100vh;
        height: 96vh;
        display: flex;
        flex-direction: column;
    }

    .primary-color-input,
    .secondary-color-input {
        padding: 6px 8px;
    }

    .mat-radio-group {
        padding-bottom: 1.25em;
    }
}
