<div id="forgot-password" fxLayoutAlign="start">
    <div id="fg-password-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="description" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
        </div>

    </div>

    <div class="bg-img" fxLayout="column" fxLayoutAlign="center center">
        <img id="logo-img" src="../../../../assets/images/logos/rsz_aratech-logo-picture-256.png" alt="">
        <img id="text-img" src="../../../../assets/images/logos/aratech-logo-Text-256.png" alt="">
    </div>

    <div id="fg-password-form-wrapper" fusePerfectScrollbar *fuseIfOnDom
        [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">
        <div id="fg-password-form">
            <div class="step-title">{{'Authentication.ForgotPassword.Title' | translate}}</div>
            <mat-horizontal-stepper linear #stepper>
                <mat-step [stepControl]="form">
                    <div class="title">{{'Authentication.ForgotPassword.Account' | translate}}</div>
                    <form name="form" [formGroup]="form">
                        <mat-form-field>
                            <input matInput placeholder="{{'Authentication.ForgotPassword.Account' | translate}}"
                                formControlName="email" [(ngModel)]="item.email">
                            <mat-error *ngIf="formErrors.email.required">Trường này không được để trống</mat-error>
                        </mat-form-field>
                        <mat-error *ngIf="isValid == true">Email không chính xác</mat-error>

                        <button (click)="onSubmit()" type="button" mat-raised-button color="accent"
                            class="submit-button">
                            {{'Common.Confirm' | translate}}
                        </button>

                    </form>
                    <div class="after-submit" fxLayoutAlign="space-between center">
                        <a id="after-submit" [routerLink]="'/authentication/login'">
                            {{'Authentication.BackToLogin' | translate}}
                        </a>
                    </div>
                </mat-step>
                <mat-step [stepControl]="verificationForm">
                    <form name="form" [formGroup]="verificationForm" (onSubmit)="onSubmit()">
                        <div fxLayout="row" fxLayoutAlign=" center">
                            <mat-form-field fxFlex="40%">
                                    <input matInput placeholder="" name="verificationCode"
                                        formControlName="verificationCode" [(ngModel)]="item.verificationCode">
                            </mat-form-field>

                            <div class="title">{{'Authentication.ForgotPassword.VerificationCode' | translate}}</div>
                        </div>

                        <button (click)="confirmCode()" type="button" mat-raised-button color="accent"
                            class="submit-button">
                            {{'Common.Confirm' | translate}}
                        </button>
                    </form>
                    <div>
                        <span>Nếu chưa nhận được mã vui lòng <button class="previous-btn"
                                matStepperPrevious>{{'Authentication.ForgotPassword.Account' | translate}}</button></span>
                    </div>
                </mat-step>
                <mat-step [stepControl]="resetForm">
                    <div class="title">{{'Authentication.ForgotPassword.ResetPassword' | translate}}</div>

                    <form name="form" [formGroup]="resetForm" (onSubmit)="onSubmit()">
                        <mat-form-field>
                            <input matInput type="password"
                                placeholder="{{'Authentication.ForgotPassword.NewPassword' | translate}}"
                                name="newPassword" formControlName="newPassword" [(ngModel)]="item.newPassword">

                        </mat-form-field>

                        <mat-form-field>
                            <input matInput type="password"
                                placeholder="{{'Authentication.ForgotPassword.ConfirmPassword' | translate}}"
                                name="confirmPassword" formControlName="confirmPassword"
                                [(ngModel)]="item.confirmPassword" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="resetForm.hasError('notSame')">Mật khẩu xác nhận không khớp</mat-error>
                        </mat-form-field>

                        <button (click)="rsPassword()" type="button" mat-raised-button color="accent"
                            class="submit-button">
                            {{'Common.Confirm' | translate}}
                        </button>
                    </form>
                </mat-step>
                <mat-step>
                    <form name="form" novalidate>
                        <div fxLayout="column" fxLayoutAlign="center center">
                            <div class="notification" fxLayout="row" fxLayoutAlign="center center">
                                <mat-icon class="amber-600-fg">star</mat-icon>
                                <span>{{'Common.Msg.UpdateSuccess' | translate}}</span>
                            </div>

                            <div class="back-to-login">
                                <a style="margin-top: 5px; font-weight: 500;" [routerLink]="'/authentication/login'">
                                    {{'Authentication.BackToLogin' | translate}}
                                </a>
                            </div>
                        </div>
                    </form>
                </mat-step>
            </mat-horizontal-stepper>

        </div>
    </div>
</div>
