<div class="w-full" *ngIf="group" [formGroup]="group">
  <mat-form-field class="form-control textarea-control w-full">
    <mat-label>{{ label | translate }}</mat-label>
    <textarea
      matInput
      [tabIndex]="tabIndex"
      name="{{ name }}"
      formControlName="{{ controlName }}"
      rows="{{ rows }}"
      trim="blur"
      [(ngModel)]="ngModel"
      [required]="required"
      (ngModelChange)="change()"
      readonly="{{ readOnly }}"
    >
    </textarea>
    <button class="btn-close" *ngIf="!readOnly && ngModel" matSuffix mat-icon-button (click)="ngModel = ''">
      <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:x'"></mat-icon>
    </button>
    <mat-error *ngIf="errors.required">
      <span>{{ 'Category.Msg.Required' | translate | stringFormat : label }}</span>
    </mat-error>

    <mat-error *ngIf="errors.minlength">
      <span>{{ 'Category.Msg.MinLength' | translate | stringFormat : label : errors.minlength.requiredLength }}</span>
    </mat-error>

    <mat-error *ngIf="errors.maxlength">
      <span>{{ 'Category.Msg.MaxLength' | translate | stringFormat : label : errors.maxlength.requiredLength }}</span>
    </mat-error>
  </mat-form-field>
</div>

<div class="w-full" *ngIf="!group">
  <mat-form-field class="form-control w-full">
    <mat-label>{{ label | translate }}</mat-label>
    <textarea
      matInput
      [tabIndex]="tabIndex"
      [(ngModel)]="ngModel"
      rows="{{ rows }}"
      trim="blur"
      [required]="required"
      (ngModelChange)="change()"
      readonly="{{ readOnly }}"
    >
    </textarea>
    <button class="btn-close" *ngIf="!readOnly && ngModel" matSuffix mat-icon-button (click)="clear()">
      <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:x'"></mat-icon>
    </button>
  </mat-form-field>
</div>
