<div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-4 md:px-4 border-b">
    <!-- Loader -->
    <!-- <div
        class="absolute inset-x-0 bottom-0"
        *ngIf="isLoading">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div> -->
    <!-- Title -->
    <div class="text-4xl font-extrabold tracking-tight">
        {{configs.title | translate}} <br /><strong>{{configs.subTitle}}</strong>
    </div>
    <!-- Actions -->
    <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
        <!-- Search -->
        <mat-form-field
            class="fuse-mat-dense fuse-mat-rounded min-w-64"
            [subscriptSizing]="'dynamic'">
            <mat-icon
                class="icon-size-5"
                matPrefix
                [svgIcon]="'heroicons_solid:search'"></mat-icon>
            <input id="search" [(ngModel)]="searchText" matInput #filter trim="blur"
                [autocomplete]="'off'"
                placeholder="{{'Common.Search' | translate}}" (keypress)="search($event.keyCode)">
            <!-- <input
                matInput
                [formControl]="searchInputControl"
                [autocomplete]="'off'"
                placeholder="{{'Common.Search' | translate}}"> -->
        </mat-form-field>
        <!-- Add product button -->
        <button
            class="ml-4"
            mat-flat-button
            [color]="'primary'"
            (click)="add()">
            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
            <span class="ml-2 mr-1">{{'Common.Add' | translate}}</span>
        </button>
    </div>
</div>