<div class="dialog-content-wrapper">

    <div class="flex flex-col flex-auto items-center sm:justify-center min-w-0" style="width: 500px">
        <div class="successed">
            <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
                <!-- Logo -->
                <!-- <div class="w-12">
                    <img src="../../../../assets/images/logos/aratech-logo-picture-2.png">
                </div> -->

                <!-- Title -->
                <div class="confirm">Đăng kí thành công.</div>
                <div class="email-confirm">
                    Thông tin dịch vụ và hướng dẫn sử dụng sẽ đã được gửi đến địa chỉ email của bạn trong thời gian sớm nhất.
                </div>
                <div class="email-confirm">
                    Cảm ơn bạn đã đăng ký dùng thử dịch vụ của công ty cổ phần Aratech Việt Nam.
                </div>

                <!-- Form footer -->
                <!-- <div class="to-login">
                    <span>Quay lại</span>
                    <a [routerLink]="['/authentication/login']">Đăng nhập
                    </a>
                </div> -->
            </div>
        </div>
    </div>
</div>
