//@import "src/@fuse/scss/fuse";

:host {
    .ara-tree-title {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: white;
        min-height: 64px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    .nav-link {
        padding: 2px 0 !important;
        height: auto !important;
    }
}
